body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Nunito, Roboto, Arial, sans-serif;
    line-height: 27px;
    background-color: #d6e3fa;
    color: #000d2e;
    width: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #d2daee;
    background-color: #1a3067;
}

.cursor-pointer{
    cursor: pointer;

}
.click {
    background-color: #c7dffa;
    color: #1a3067;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 5px;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.banking-categories {
    display: flex;
    gap: 15px;
    padding: 5px;
}

.main-container {
    flex: 1;
    display: flex;
    gap: 15px;
    padding: 20px;
    background-image: url(assets/banking-bg.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.main-middle {
    flex: 3;
    overflow-y: auto; /* scroll also woorks */
    background-color: rgba(178, 208, 243, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-height: calc(100vh - 200px); /* screen - header and footer height */
}

.sidebar-left, .sidebar-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(178, 208, 243, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.sidebar-right > div, .sidebar-left > div {
    border: 1px solid #1a3067;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    background-color: #97ade4;
    padding: 10px;
}

footer {
    background-color: #1a3067;
    color: #d2daee;
    padding: 20px 0;
    margin-top: auto;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*short for 1fr 1fr 1fr for width*/
    gap: 20px;
    padding: 0 20px;
}

footer a {
    color: #d2daee;
    text-decoration: none;
}

.section-of-middle{
    background-color: rgba(238, 239, 255, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.head-color {
    color: #1a3067;
    margin-bottom: 15px;
}

/* Media query for Responsiveness */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    
    .main-middle {
        max-height: none; /* Allow content to flow on mobile */
        overflow-y: visible;
    }
    

    
    .banking-categories {
        display: none;
    }
    
    .right-header {
        display: flex;
        gap: 5px;
    }
    
    .right-header > button {
        padding: 5px 10px;
        font-size: 0.9em;
    }
}